@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 2.4rem;
    color: #5a3e2b;
    font-family: "Quicksand";
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #f4a226;
    min-height: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: "Monoton";
    font-size: 4.2rem;
    text-transform: uppercase;
}

.add-form {
    background-color: #e5771f;
    font-size: 1.8rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin-right: 15px;
    }

    select {
        background-color: #ffebb5;
        padding: 10px 20px;
        border-radius: 18px;
        border: none;
        font-weight: bold;
        transition: 0.3s;
    }

    input {
        margin: 15px;
        background-color: #ffebb5;
        padding: 10px 20px;
        border-radius: 18px;
        border: none;
        transition: 0.3s;
    }

    input::placeholder {
        font-weight: bold;
        font-size: 1.1rem;
    }

    select:focus,
    input:focus {
        outline: none;
        box-shadow: 0px 7px 5px rgba(10, 10, 10, 0.3);
    }

    button {
        background-color: #76c7ae;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 18px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: #47bf99;
    }
}

.list-body {
    background-color: #5a3e2b;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    ul {
        font-size: 1.2rem;
        color: white;
        flex-grow: 1;
        margin: 15px;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;

        li {
            height: fit-content;
            padding: 10px 20px;
            background-color: #f4a226;
            border: none;
            border-radius: 8px;

            input {
                margin-right: 8px;
            }

            button {
                margin-left: 8px;
                padding: 2px 4px;
                border-radius: 3px;
                border: none;
                background-color: #f4a226;
                cursor: pointer;
                transition: 0.3s;
            }
        }
    }

    .clear-btn {
        width: fit-content;
        background-color: #ffebb5;
        color: #5a3e2b;
        margin: 15px auto;
        padding: 10px 20px;
        border-radius: 18px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: #ad9b68;
        color: white;
    }
}

footer {
    background-color: #76c7ae;
    display: flex;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    padding: 15px;
}
